DATABASE_URL=postgresql+psycopg://sunwoo@/drop01?host=/var/run/postgresql&port=5434

SUPABASE_URL=https://tuwqbahkvvidgcbyztop.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_BUCKET=images

OWNERCLAN_API_BASE_URL=https://api.ownerclan.com
OWNERCLAN_AUTH_URL=https://auth.ownerclan.com/auth
OWNERCLAN_GRAPHQL_URL=https://api.ownerclan.com/v1/graphql

OWNERCLAN_PRIMARY_USER_TYPE=seller
OWNERCLAN_PRIMARY_USERNAME=
OWNERCLAN_PRIMARY_PASSWORD=

BACKEND_URL=http://localhost:8888
